In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('0.dataSet/personinfo.csv')
df

  name             birth                  email
0  이영자   2021-01-01 9:10       happy@gmail.com
1  신동엽   2021-01-08 9:20          sin@naver.com
2  정찬우  2021-02-01 10:20   Iron at yahoo.co.kr
3  김태우  2021-02-02 11:40      \tWidow@gmail.com
4  이정희  2021-02-28 15:10        thor@daum.net\t
5  이나영  2021-06-30 21:20       loki88@gmail.com
6  이정인  2021-07-20 23:30         fury@naver.com
7  유재석  2021-08-28 11:48        FALCON@daum.net
8  백종원   2021-09-01 3:12       kim at gmail.com

In [3]:
df['email']

0         happy@gmail.com
1            sin@naver.com
2     Iron at yahoo.co.kr
3        \tWidow@gmail.com
4          thor@daum.net\t
5         loki88@gmail.com
6           fury@naver.com
7          FALCON@daum.net
8         kim at gmail.com
Name: email, dtype: object

In [4]:
type(df['email'])

pandas.core.series.Series

In [8]:
df['email'] = df['email'].str.strip() # /t 도 잘 없어지고 의미없는 공백 없애줌
df['email']

0        happy@gmail.com
1          sin@naver.com
2    Iron at yahoo.co.kr
3        Widow@gmail.com
4          thor@daum.net
5       loki88@gmail.com
6         fury@naver.com
7        FALCON@daum.net
8       kim at gmail.com
Name: email, dtype: object

In [13]:
df['email'].str.pad(width=30, side='left', fillchar='_')

0    _______________happy@gmail.com
1    _________________sin@naver.com
2    ___________Iron at yahoo.co.kr
3    _______________Widow@gmail.com
4    _________________thor@daum.net
5    ______________loki88@gmail.com
6    ________________fury@naver.com
7    _______________FALCON@daum.net
8    ______________kim at gmail.com
Name: email, dtype: object

In [24]:
df['email'] = df['email'].str.replace(' at ', '@')

In [25]:
df['email'].str.split('@')

0     [happy, gmail.com]
1       [sin, naver.com]
2    [Iron, yahoo.co.kr]
3     [Widow, gmail.com]
4       [thor, daum.net]
5    [loki88, gmail.com]
6      [fury, naver.com]
7     [FALCON, daum.net]
8       [kim, gmail.com]
Name: email, dtype: object

In [29]:
df['email'].str.split('n', n=1)

0      [happy@gmail.com]
1       [si, @naver.com]
2    [Iro, @yahoo.co.kr]
3      [Widow@gmail.com]
4       [thor@daum., et]
5     [loki88@gmail.com]
6      [fury@, aver.com]
7     [FALCON@daum., et]
8        [kim@gmail.com]
Name: email, dtype: object

<hr>
**결측치 확인**

1. isnull()과 sum()을 연결한 메소드 체인 사용

2. isnull() : 결측치가 있을 경우 True <-> notnull()

3. df.isnull().sum() : 결측치의 개수

4. df.isnull().mean() : 결측치의 비율

5. dropna() : 결측치 제거
    - 결측치(NaN)를 포함하는 레코드(행) 제거
    - how=‘any’ : 결측치가 하나라도 있으면 제거 (기본 옵션)
    - how=‘all’ : 모든 행이 결측치인 경우 제거
    - dropna() 사용시 index를 따로 설정하지 않은 경우 reset_index(drop=True)를 메서드 체인으로 연결해서 사용하는 것을 추천

In [30]:
colleges = pd.read_csv('0.dataSet/college.csv')
states = ['TX', 'MI']

In [31]:
cr1 = colleges.STABBR.isin(states)
cr2 = colleges.UGDS_WHITE.between(0.5,0.8)

In [32]:
cr1 + cr2

C:\Users\Playdata\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:203: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

0       False
1        True
2       False
3        True
4       False
        ...
7530    False
7531    False
7532    False
7533    False
7534     True
Length: 7535, dtype: bool