In [1]:
import pandas as pd
import numpy as np

In [2]:
flights = pd.read_csv('0.dataSet/flights.csv')
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [4]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'}).head()

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580

In [5]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean').head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [15]:
# 항공사별(AIRLINE) 주중(WEEKDAY) 취소건수, 우회 운항 건수 비율
# 비율 - 합, 평균
flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).iloc[:7]

<ipython-input-15-d86352a80e05>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).iloc[:7]

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
        6              21  0.018667        9  0.008000
        7              29  0.021837        1  0.000753

In [7]:
flights.WEEKDAY

0        4
1        4
2        4
3        4
4        4
        ..
58487    4
58488    4
58489    4
58490    4
58491    4
Name: WEEKDAY, Length: 58492, dtype: int64

In [17]:
flights.AIRLINE

0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object

In [18]:
flights.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [25]:
flights.groupby(['ORG_AIR', 'DEST_AIR'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).loc['ATL']

<ipython-input-25-4852566edbf1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby(['ORG_AIR', 'DEST_AIR'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).loc['ATL']

         CANCELLED           DIVERTED
               sum      mean      sum      mean
DEST_AIR
ABE              0  0.000000        0  0.000000
ABQ              0  0.000000        0  0.000000
ABY              0  0.000000        0  0.000000
ACY              0  0.000000        0  0.000000
AEX              0  0.000000        0  0.000000
...            ...       ...      ...       ...
TUS              0  0.000000        0  0.000000
TYS              1  0.016667        0  0.000000
VLD              1  0.043478        0  0.000000
VPS              0  0.000000        0  0.000000
XNA              1  0.018519        1  0.018519

[159 rows x 4 columns]

In [ ]:
group_cols = ['ORG_AIR', 'DEST_AIR']
agg_dict = {'CANCELLED'}